<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/shows/search.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Search Results</h1>
  <% if (search) { %>
    <h2>You searched for <%= search %></h2>
  <% } %>
  <div class="container">
    <% results.forEach(result => { %>
      <!-- make div a tag -->
      <div class="wrapper"> 
        <h2><%= result.name %></h2>
        <!-- if no pic add placeholder -->
        <img class="poster" src="https://image.tmdb.org/t/p/original/<%= result.poster_path %>" alt="">
      </div>
    <% }) %>
</div>
</main>

<%- include('../partials/footer') %>