<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/shows/show.css" />
  <%- include('../partials/nav') %>

    <main>

      <div class="show-details-page">

        <div class="show-info-div">

          <div class="poster-desc-div">
            <div class="poster-container">
              <% if (apiResult.poster_path) { %>
                <img class="poster" src="https://image.tmdb.org/t/p/original/<%= apiResult.poster_path %>" alt="">
                <% } else { %>
                  <img class="poster"
                    src="https://images-we-got-pop.imgix.net/website/marketing/movie-placeholder.png?w=300&h=450&fit=clamp&auto=format,compress"
                    alt="">
                  <% } %>
                    <% if (apiResult.homepage) { %>
                      <div class="link-to-show">

                        <h4 class="link-to-show-h2">
                          Watch <%= apiResult.name %> <a class="text-black" href="<%= apiResult.homepage %>">here</a>
                        </h4>
                      </div>
                      <% } %>
            </div>


            <div class="header-description">
              <div class="header-tagline-div">
                <div class="show-h1-div">
                  <h1 class="show-name">
                    <%= apiResult.name %>
                  </h1>
                </div>
                <% if (apiResult.tagline) { %>
                  <!-- <div class="tagline-div"> -->
                  <h4 class="tagline-h2">
                    <%= apiResult.tagline %>
                  </h4>
                  <!-- </div> -->

                  <% } %>
              </div>
              <div class="rating-seasons">
                <% if (apiResult.vote_average) { %>
                  <p class="rating-p">AVERAGE RATING: <%= apiResult.vote_average %>
                  </p>
                  <% } %>
                    <% if (apiResult.number_of_seasons) { %>
                      <div class="seasons-div">
                        <h4 class="number-szns">
                          SEASONS: <%= apiResult.number_of_seasons %>
                        </h4>

                      </div>

                      <% } %>
              </div>
              <div class="description">
                <p class="overview-p">
                  <%= apiResult.overview %>
                </p>
              </div>
              <div class="recs-div">
                <a class="text-black" href="/shows/<%= apiResult.id %>/recommended">
                  <button class="button-17">See similar shows
                  </button>
                </a>
              </div>
            </div>

          </div>
          <!-- 
          <div class="watch-recs-div">
            
          </div> -->
        </div>



        <div class="bottom-div">

          <div class="second-section">
            <% if (show?.collectedBy.length> 0) { %>
              <!-- <div class="accordion" id="accordion"> -->
              <!-- <div class="accordion-item bg-dark"> -->
              <div class="collected-by-div">
                <h2 class="collected-header">
                  This show appears in <%= show?.collectedBy.length %> user Queues:
                </h2>
                <div class="all-collectors">
                  <% show?.collectedBy.forEach(profile=> { %>
                    <a class="text-white" href="/profiles/<%= profile._id %>" class="text-white">
                      <div class="collector">
                        <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar" class="me-3 rounded-circle"
                          width="50px" height="50px">
                        <br>
                        <p class="white-text">
                          <%= profile.name %>
                        </p>
                    </a>
                </div>
                </a>
                <% }) %>
              </div>
          </div>
          <!-- </div> -->
          <!-- </div> -->
        </div>
        <% } %>

          <div class="delete-btn-div">
            <% if (userHasShow) { %>
              <div class="remove-div">
                <p class="remove-p">
                  <%= apiResult.name %> is already in your collection.
                </p>
              </div>
              <form class="text-center" action="/shows/<%= apiResult.id %>/removeFromCollection?_method=PATCH"
                method="POST">
                <button class="button-17">
                  Remove From Collection
                </button>
              </form>

              <% } %>



                <% if (!userHasShow) { %>
                  <form class="text-center" action="/shows/<%= apiResult.id %>/addToCollection?_method=PATCH"
                    method="POST">
                    <input type="text" name="name" hidden value="<%= apiResult.name %>">
                    <input type="text" name="mdbId" hidden value="<%= apiResult.id %>">
                    <input type="text" name="imageUrl" hidden
                      value="https://image.tmdb.org/t/p/original/<%= apiResult.poster_path %>">
                    <button class="button-17">
                      Add To Collection
                    </button>
                  </form>
                  <% } %>
          </div>

          <div class="review-container">
            <% if (!userHasReviewed && userHasShow) { %>
              <div class="form-div">
                <form class="review-form" action="/reviews/<%= show._id %>" method="POST">
                  <label for="exampleFormControlTextarea1" class="review-label">
                    Leave a review:
                  </label>
                  <select name="rating" class="form-select">
                    <option value="1">&#9733;</option>
                    <option value="2">&#9733; &#9733;</option>
                    <option value="3">&#9733; &#9733; &#9733;</option>
                    <option value="4">&#9733; &#9733; &#9733; &#9733;</option>
                    <option value="5">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
                  </select>
                  <textarea name="content" class="form-control" rows="6"></textarea>
                  <button class="button-17-add" type="submit">Add Review</button>
                </form>
              </div>
              <% } %>


                <% if (show?.reviews.length) { %>
                  <h2 class="text-light">Reviews:</h2>
                  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g1 px-4">

                    <% show.reviews.forEach(review=> { %>
                      <div class="review-wrapper">
                        <div class="review-card">
                          <img src="<%= review.author.avatar %>" class="img-fluid"
                            alt="<%= review.author.name %>'s avatar">
                          <div class="card-body">
                            <h3 class="card-title text-dark">
                              <a class="review-author-a" href="/profiles/<%= review.author._id %>">
                                <%= review.author.name %>
                              </a>
                            </h3>
                            <p class="card-text">
                              <%= "★" .repeat(review.rating) %>
                            </p>
                            <p class="review-text">
                              <%= review.content %>
                            </p>
                          </div>
                        </div>
                      </div>
                      <% }) %>
                  </div>

                  <% } %>


          </div>

          <br>
          <br>

      </div>
      </div>
    </main>

    <%- include('../partials/footer') %>